.node
  .label
    %p= reflection.name
  .input
    %ul
      - reflection.class_name.constantize.all.each do |obj|
        %li
          - obj_name = obj.class.to_s.pluralize.underscore
          = check_box_tag "has_and_belongs_to_many[#{obj_name}][#{obj.id}]", obj.id, f.object.send(obj_name).include?(obj)
          = label_tag "has_and_belongs_to_many_#{obj_name}_#{obj.id}", obj