-# TODO: markdown editor

= node f, field do
  - if @quick_edit
    = f.text_area field.name, class: 'markdown'
  - else
    = javascript_include_tag 'bhf_includes/showdown.js'
    #wmd-editor.wmd-pane
      #wmd-button-bar
      = f.text_area field.name, id: 'wmd-input', class: 'markdown'
    %h6.preview_switch
      Preview
      %span#toggle_html_preview HTML
      %span#toggle_live_preview.active Live
    #wmd-preview.wmd-panel
    #wmd-output.wmd-panel.hide
    = javascript_include_tag 'bhf_includes/wmd.js'
    :javascript
      var toggleMdPreview = function(e){
        var htmlPreview = e.target.id === 'toggle_html_preview';
        $('wmd-preview').toggleClass('hide', htmlPreview);
        $('wmd-output').toggleClass('hide', !htmlPreview);
        $('toggle_live_preview').toggleClass('active', !htmlPreview);
        $('toggle_html_preview').toggleClass('active', htmlPreview);
      };
      $('toggle_live_preview').addEvent('click', toggleMdPreview);
      $('toggle_html_preview').addEvent('click', toggleMdPreview);
      