- # just a test, :has_many shouldn't be editable imo

- ref_name = field.reflection.name
.node
  .label
    %p= f.object.class.human_attribute_name(ref_name)
  .input
    %ul
      - field.reflection.klass.all.each do |obj|
        %li
          = check_box_tag "has_many[#{ref_name}][#{obj.id}]", obj, f.object.send(ref_name).include?(obj)
          = label_tag "has_many_#{ref_name}_#{obj.id}", obj.to_bhf_s