= reflection_node f, field do
  - ref_object = f.object.send(field.reflection.name)
  %p.empty{class: ('hide' if ref_object)}= t 'bhf.helpers.entry.empty', count: 1
  %ul.relation{class: field.macro}
    %li
      - if ref_object
        = link_to_if field.link, ref_object.to_bhf_s, edit_bhf_entry_embed_path(field.link || 0, f.object, ref_object), class: :quick_edit
        - if field.link
          = link_to '&times;'.html_safe, bhf_entry_embed_path(field.link, f.object, ref_object), method: :delete, class: :delete, remote: true, confirm: t('bhf.helpers.promts.confirm')

  - if field.link
    = link_to '+', new_bhf_entry_embed_path(field.link, f.object), class: "add_field quick_edit #{('hide' if ref_object)}"