.node
  .label
    %p= reflection.name
  .input
    %ul
      - reflection.name.to_s.singularize.camelize.constantize.all.each do |obj|
        %li
          - fk = reflection.association_foreign_key
          = radio_button_tag "belongs_to[#{fk}]", obj.id, f.object.send(fk) == obj.id, :id => "belongs_to_#{fk}_#{obj.id}"
          = label_tag "belongs_to_#{fk}_#{obj.id}", obj