- data_source ||= field.reflection.klass.all
= reflection_node f, field do
  - fk = field.reflection.primary_key_name
  %ul
    - data_source.each do |obj|
      %li
        = f.radio_button fk, obj.id, :id => "belongs_to_#{fk}_#{obj.id}"
        = label_tag "belongs_to_#{fk}_#{obj.id}", obj.to_bhf_s