%p.stats= "Page rendered in ~#{(Time.now-@start_time).round(2)} seconds"
%p.copy
  Made by
  = link_to '@antpaw', 'http://twitter.com/antpaw'
  with
  = link_to 'Rails 3', 'http://twitter.com/antpaw'
  and
  = link_to 'MooTools', 'http://mootools.net/'
%p.info
  More information on 
  = link_to 'GitHub', 'http://github.com/antpaw/bahnhof/'
