%h2= t('bhf.pages.headline')
- @platforms.each do |platform|
  .platform
    %table
      %caption
        %h4= platform.title
        %p= link_to new_t(platform), new_entry_path(platform.name), :class => 'button'
      %thead
        %tr
          - platform.columns.each do |column|
            %th{:class => "#{column.field.macro} #{column.field.display_type}"}
              = platform.model.human_attribute_name(column.name)
          %th.edit= edit_t(platform)
      %tfoot
        %tr
          %td{:colspan => platform.columns.count+1}
            -# TODO: Pagination
      %tbody
        - platform.objects.each do |object|
          %tr
            - platform.columns.each do |column|
              %td{:class => "#{column.field.macro} #{column.field.display_type}"}
                - unless column.field.macro == :column && object.send(column.name).blank?
                  - locals = {:column => column, :object => object, :platform => platform}
                  = render :partial => "bhf/pages/macro/#{column.field.macro}/#{column.field.display_type}", :locals => locals
            %td.edit= link_to edit_t(platform), edit_entry_path(platform.name, object)