= form_for @object, :url => @form_url, :builder => Bhf::Form::Builder do |f|
  
  - if f.object.errors.count > 0
    = render :partial => 'validation_errors', :locals => {:f => f}
  
  - @collection.each do |field|
    = render :partial => "bhf/entries/form/#{field.macro}/#{field.type}", :locals => {:f => f, :field => field}

  .node
    .input= f.submit