%h3= show_t @platform
.dl.content_box
  - @platform.definitions.each do |column|
    - tmp = column.field.show_type ? column.field.show_type : column.field.display_type
    = definition_item @object, column do
      = render(partial: "bhf/pages/macro/#{column.field.macro}/#{tmp}", locals: {column: column, object: @object})

.content_box
  - @platform.show_extra_fields.each do |name|
    = render(partial: "bhf/pages/show/#{name}", locals: {name: name, object: @object})
      
