!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'turbolinks-cache-control', content: 'no-cache'}
    %title= @title
    = csrf_meta_tags
    %link{href: "/favicon.ico?#{@app_title.to_s.downcase}", rel: 'icon', type: 'image/x-icon'}
    - Bhf.configuration.css.each do |css|
      = stylesheet_link_tag css
    - Bhf.configuration.js.each do |js|
      = javascript_include_tag js
  %body

    = render partial: 'bhf/helper/flash', locals: {flash: flash}
    %header
      %h1
        - logo = main_logo(params[:bhf_area])

        = link_to image_tag(logo), @root_link ? @root_link : main_app.root_url, data: {turbolinks: false}

      - if @areas && @areas.length > 1
        = select_tag :area_select, options_from_collection_for_select(@areas, 'path', 'name', main_app.bhf_path(params[:bhf_area])), class: 'icon'

      - if @settings && @settings.pages.any?
        %nav
          %ul{class: ('shrink_space' if @settings.pages.count > 7)}
            - @settings.pages.each do |page|
              %li{class: ('active' if @page == page)}
                = link_to t("bhf.pages.navigation.#{page}", default: page.titleize), page_path(page)

    #content
      #main
        = yield

    %footer
      = render 'bhf/user'
      = render 'bhf/footer'
