!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => 'utf-8'}
    %title= @title
    = csrf_meta_tag
    %link{:href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon'}
    - ([:bhf] + Bhf::Engine.config.css.to_a).each do |css|
      = stylesheet_link_tag "/stylesheets/#{css}"
    = javascript_include_tag '/javascripts/bhf'
    =# javascript_include_tag '/javascripts/bhf/mootools-core-1.3.2-full-compat-yc.js', '/javascripts/bhf/mootools-more-1.3.2.1.js', '/javascripts/bhf/mootools_rails_driver-0.4.1.js', '/javascripts/bhf/class/BrowserUpdate', '/javascripts/bhf/class/Ajaxify', '/javascripts/bhf/class/AjaxEdit', '/javascripts/bhf/class/MooEditable', '/javascripts/bhf/class/Datepicker', '/javascripts/bhf/class/MultipleFields', '/javascripts/bhf/bhf_application'
  %body
    %header
      %h1= link_to image_tag('/images/logo_bhf.png'), root_url
      - if @config && @config.pages.any?
        %nav
          %ul
            - @config.pages.each do |page|
              %li{:class => ('active' if @page == page)}
                = link_to t("bhf.pages.navigation.#{page}", :default => page.capitalize), bhf_page_path(page)

    #content
      #main
        = render :partial => 'bhf/helper/flash', :locals => {:flash => flash}
        = yield

    %footer
      = render 'bhf/user'
      = render 'bhf/footer'
