!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %title= @title
    %link{href: "/favicon.ico?#{@app_title.downcase}", rel: 'icon', type: 'image/x-icon'}
    - (['bhf/application'] + Bhf::Engine.config.css.to_a).each do |css|
      = stylesheet_link_tag css
  %body
    %header
      %h1
        - logo = Rails.application.assets.find_asset('logo_bhf.png') ? 'logo_bhf.png' : 'logo_bhf.svg'
        = link_to image_tag(asset_path(logo)), main_app.root_url, :'data-no-turbolink' => true
      - if @config && @config.pages.any?
        %nav
          %ul{class: ('shrink_space' if @config.pages.count > 7)}
            - @config.pages.each do |page|
              %li{class: ('active' if @page == page)}
                = link_to t("bhf.pages.navigation.#{page}", default: page.capitalize), page_path(page)

    #content
      #main
        = render partial: 'bhf/helper/flash', locals: {flash: flash}
        = yield

    %footer
      = render 'bhf/user'
      = render 'bhf/footer'

    - (['bhf/application'] + Bhf::Engine.config.js.to_a).each do |js|
      = javascript_include_tag js, {:'data-turbolinks-eval' => false}

