%button.alt_button.cancel= t('bhf.quick_edit.buttons.cancel')
%button.alt_button.open= t('bhf.quick_edit.buttons.open')
= yield
.button.group
  %button.save{:class => ('create' if @object.new_record?)}= @object.new_record? ? t('bhf.quick_edit.buttons.create') : t('bhf.quick_edit.buttons.save')
  - unless @object.new_record?
    %button.save_and_next{:title => t('bhf.quick_edit.buttons.save_and_next')}= t('bhf.quick_edit.buttons.save_and_next')